/node_modules
/public/hot
/public/storage
/public/files
/public/css
/public/js
/public/sitemap.xml
public/js/app.js
public/css/app.css
/public/packages
/storage/*.key
/vendor
.env
.env.beta
.env.sqlite
.env.save
.env.mysql
.env.tmp
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
nohup.out
/.idea
inprogress.md
.phpactor.json

/caddy
frankenphp
frankenphp-worker.php

meilisearch*
data.ms
