/node_modules
/public/hot
/public/storage
/public/files
/public/css
/public/js
public/js/app.js
public/css/app.css
/public/packages
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
nohup.out
/.idea
