// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import 'colors';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';
@import '~@yaireo/tagify/dist/tagify';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-size: .875rem;
  font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //font-family: 'Lato', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  //font-size: .825rem;
  font-weight: bold;
  //font-family: sans-serif;
}

.uppy-Root {
  padding-left: 400px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 400;
  color: $grey-3;
  padding: 0.2rem 1rem;
  text-decoration: none;
  //color: #333;
}

//.sidebar .nav-link .feather {
//  margin-right: 4px;
//  color: #999;
//}

.sidebar .nav-link.active {
  background-color: $grey-8;
  font-weight: bold;
  margin-right: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sidebar .nav-link:hover {
  background-color: $grey-7;
  margin-right: 5px;
  color: $grey-10;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.mycolor {
  color: $primary;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  color: #fffff0 !important;
  //background-color: rgba(0, 0, 0, .25);
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  font-weight: bold;
  text-decoration: none;
}

.td-none {
  text-decoration: none;
}

a.navbar-brand:hover {
  background-color: #3182ce;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar {
  //justify-content: space-evenly;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.bg-nav {
  // Current website
  //background-color: $indigo-4;

  // Palette 2
  //background-color: hsl(205, 67%, 45%);

  // Palette 8
  //background-color: hsl(210, 83%, 53%);

  // Jigsaw colors
  // base
  //background-color: #3182ce;

  // lighter than base by one
  //background-color: #4299e1;

  // darker than base by one
  background-color: #2b6cb0;
}

a.nav-link.action {
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  //text-transform: uppercase;
}

.fs-11 {
  font-size: 1.1em !important;
}

//.doit {
//  font-weight: 700;
//  //text-transform: uppercase;
//}

a {
  color: $blue-2;
  text-decoration: underline $blue-2;
}

a:hover {
  color: $blue-4;
  //text-decoration: none;
}

.form-rounded {
  border-radius: 3px !important;
}

a.action-link {
  //color: $grey-5;
  color: #4a5568;
  font-size: 1rem !important;
  font-weight: 500;
  text-decoration: none;
}

a.action-link:hover {
  //color: $grey-6;
  color: #1a202c;
  text-decoration: none;
}

a.action-link.danger:hover {
  color: $red;
  text-decoration: none;
}

.isDisabled {
  color: $grey-5;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.linka {
  color: $blue-2;
  font-size: 1.0rem !important;
  text-decoration: underline $blue-2;
  font-weight: 600;
}

.card-header {
  padding: 0.5rem 1.25rem;
}

.card-header h5 {
  margin-bottom: 0;
}

.community-card {
  border: 4px solid $blue-2;
}

label.required:after {
  margin-left: 1px;
  content: "*";
  color: $red;
}

p {
  font-weight: normal;
}

.markdown-area {
  border: 1px solid #9aa5b1;
  border-radius: .25rem;
  background-color: #e5e8eb;
  padding: 0.375rem .75rem;
}

//.markdown-area > table, th, td {
//  border: 1px solid black;
//}

//table {
//     width: 100%;
//     margin-bottom: 1rem;
//     background-color: transparent;
//     border: 1px solid #cad1d8;
// }

.navbar-spacing {
  content: 'hello world';
  margin-right: 80px;
}

.outline-none {
  outline: none !important;
}

.help-color {
  color: rgba(255, 255, 255, 0.5) !important;
}

.h-8 {
  height: 1.5rem;
}

//.tagify tag>div {
//  background-color: red;
//}

p {
  font-size: 1rem;
}

.col-left-border {
  border-left: 1px solid $gray-400;
}

