@import "variables";

.indigo-1 {
  color: $indigo-1;
}

.indigo-2 {
  color: $indigo-2;
}

.indigo-3 {
  color: $indigo-3;
}

.indigo-4 {
  color: $indigo-4;
}

.indigo-5 {
  color: $indigo-5;
}

.indigo-6 {
  color: $indigo-6;
}

.indigo-7 {
  color: $indigo-7;
}

.indigo-8 {
  color: $indigo-8;
}

.indigo-9 {
  color: $indigo-9;
}

.indigo-10 {
  color: $indigo-10;
}

.blue-1 {
  color: $blue-1;
}

.blue-2 {
  color: $blue-2;
}

.blue-3 {
  color: $blue-3;
}

.blue-4 {
  color: $blue-4;
}

.blue-5 {
  color: $blue-5;
}

.blue-6 {
  color: $blue-6;
}

.blue-7 {
  color: $blue-7;
}

.blue-8 {
  color: $blue-8;
}

.blue-9 {
  color: $blue-9;
}

.blue-10 {
  color: $blue-10;
}

.yellow-1 {
  color: $yellow-1;
}

.yellow-2 {
  color: $yellow-2;
}

.yellow-3 {
  color: $yellow-3;
}

.yellow-4 {
  color: $yellow-4;
}

.yellow-5 {
  color: $yellow-5;
}

.yellow-6 {
  color: $yellow-6;
}

.yellow-7 {
  color: $yellow-7;
}

.yellow-8 {
  color: $yellow-8;
}

.yellow-9 {
  color: $yellow-9;
}

.yellow-10 {
  color: $yellow-10;
}

.grey-1 {
  color: $grey-1;
}

.grey-2 {
  color: $grey-2;
}

.grey-3 {
  color: $grey-3;
}

.grey-4 {
  color: $grey-4;
}

.grey-5 {
  color: $grey-5;
}

.grey-6 {
  color: $grey-6;
}

.grey-7 {
  color: $grey-7;
}

.grey-8 {
  color: $grey-8;
}

.grey-9 {
  color: $grey-9;
}

.grey-10 {
  color: $grey-10;
}

.green-1 {
  color: $green-1;
}

.green-2 {
  color: $green-2;
}

.green-3 {
  color: $green-3;
}

.green-4 {
  color: $green-4;
}

.green-5 {
  color: $green-5;
}

.green-6 {
  color: $green-6;
}

.green-7 {
  color: $green-7;
}

.green-8 {
  color: $green-8;
}

.green-9 {
  color: $green-9;
}

.green-10 {
  color: $green-10;
}

.red-1 {
  color: $red-1;
}

.red-2 {
  color: $red-2;
}

.red-3 {
  color: $red-3;
}

.red-4 {
  color: $red-4;
}

.red-5 {
  color: $red-5;
}

.red-6 {
  color: $red-6;
}

.red-7 {
  color: $red-7;
}

.red-8 {
  color: $red-8;
}

.red-9 {
  color: $red-9;
}

.red-10 {
  color: $red-10;
}

//

.bg-blue-1 {
  background-color: $blue-1;
}

.bg-blue-2 {
  background-color: $blue-2;
}

.bg-blue-3 {
  background-color: $blue-3;
}

.bg-blue-4 {
  background-color: $blue-4;
}

.bg-blue-5 {
  background-color: $blue-5;
}

.bg-blue-6 {
  background-color: $blue-6;
}

.bg-blue-7 {
  background-color: $blue-7;
}

.bg-blue-8 {
  background-color: $blue-8;
}

.bg-blue-9 {
  background-color: $blue-9;
}

.bg-blue-10 {
  background-color: $blue-10;
}

.bg-yellow-1 {
  background-color: $yellow-1;
}

.bg-yellow-2 {
  background-color: $yellow-2;
}

.bg-yellow-3 {
  background-color: $yellow-3;
}

.bg-yellow-4 {
  background-color: $yellow-4;
}

.bg-yellow-5 {
  background-color: $yellow-5;
}

.bg-yellow-6 {
  background-color: $yellow-6;
}

.bg-yellow-7 {
  background-color: $yellow-7;
}

.bg-yellow-8 {
  background-color: $yellow-8;
}

.bg-yellow-9 {
  background-color: $yellow-9;
}

.bg-yellow-10 {
  background-color: $yellow-10;
}

.bg-grey-1 {
  background-color: $grey-1;
}

.bg-grey-2 {
  background-color: $grey-2;
}

.bg-grey-3 {
  background-color: $grey-3;
}

.bg-grey-4 {
  background-color: $grey-4;
}

.bg-grey-5 {
  background-color: $grey-5;
}

.bg-grey-6 {
  background-color: $grey-6;
}

.bg-grey-7 {
  background-color: $grey-7;
}

.bg-grey-8 {
  background-color: $grey-8;
}

.bg-grey-9 {
  background-color: $grey-9;
}

.bg-grey-10 {
  background-color: $grey-10;
}

.bg-green-1 {
  background-color: $green-1;
}

.bg-green-2 {
  background-color: $green-2;
}

.bg-green-3 {
  background-color: $green-3;
}

.bg-green-4 {
  background-color: $green-4;
}

.bg-green-5 {
  background-color: $green-5;
}

.bg-green-6 {
  background-color: $green-6;
}

.bg-green-7 {
  background-color: $green-7;
}

.bg-green-8 {
  background-color: $green-8;
}

.bg-green-9 {
  background-color: $green-9;
}

.bg-green-10 {
  background-color: $green-10;
}

.bg-red-1 {
  background-color: $red-1;
}

.bg-red-2 {
  background-color: $red-2;
}

.bg-red-3 {
  background-color: $red-3;
}

.bg-red-4 {
  background-color: $red-4;
}

.bg-red-5 {
  background-color: $red-5;
}

.bg-red-6 {
  background-color: $red-6;
}

.bg-red-7 {
  background-color: $red-7;
}

.bg-red-8 {
  background-color: $red-8;
}

.bg-red-9 {
  background-color: $red-9;
}

.bg-red-10 {
  background-color: $red-10;
}
